.status {
    background-color: green;
    color: #fff;
}

.statusOff {
    background-color: red;
    color: #fff;

}

.avatar{
    width: 60px;
}

.name{
    margin: 5px auto;
    font-size: 30px;
    color:orange
}